.sudoku {

}

.col {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10vw;
  height: 10vw;
  border-right: 1px solid #ccc;
}

input {
  border: none;
  background: none;
  outline: none;
}

input:focus { outline: none; }